openapi: 3.0.2
info:
    title: Discoveryfy
    version: 0.2.6
    description: Create collaborative playlists in Spotify with your friends and colleagues and rate the songs
    contact:
        name: Leninux
        url: 'https://discoveryfy.fabri.cat'
    license:
        name: GNU GPLv3
        url: 'https://www.gnu.org/licenses/gpl.txt'
servers:
    -
        url: 'https://api.discoveryfy.fabri.cat'
paths:
    '/groups/{group_uuid}':
        summary: One group of users
        get:
            tags:
                - Group
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Group.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Group
                                            id:
                                                $ref: '#/components/schemas/Group.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Group.Read'
                                            relationships:
                                                type: object
                                                properties:
                                                    polls:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                type:
                                                                    type: string
                                                                    example: Polls
                                                                id:
                                                                    type: string
                                                                    example: 15de7d9a-4b1f-4260-b0fd-91c2c9b76bd5
                                    included:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Poll.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Group.Read.Jsonld'
                    description: Group resource response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: group.get
            summary: Get one group information
        put:
            requestBody:
                description: The updated Group resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Group.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Group
                                        id:
                                            $ref: '#/components/schemas/Group.UUID'
                                        attributes:
                                            $ref: '#/components/schemas/Group.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Group.Write'
                required: true
            tags:
                - Group
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Group.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Group
                                            id:
                                                $ref: '#/components/schemas/Group.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Group.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Group.Read.Jsonld'
                    description: Group resource updated
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: group.put
            summary: Modify one group
        delete:
            tags:
                - Group
            responses:
                '204':
                    $ref: '#/components/responses/Resource.Deleted'
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: group.delete
            summary: Delete one group
        parameters:
            -
                name: group_uuid
                description: Group UUID
                schema:
                    $ref: '#/components/schemas/Group.UUID'
                in: path
                required: true
    '/groups/{group_uuid}/members':
        summary: >-
            List of the members of one Group (@ToDo: This endpoint is really needed? All the info is included
            in /groups/{group_uuid}, check )
        get:
            tags:
                - Group
            parameters:
                -
                    name: page
                    schema:
                        $ref: '#/components/schemas/Page'
                    in: query
                    required: false
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Member.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                type:
                                                    type: string
                                                    example: Member
                                                attributes:
                                                    $ref: '#/components/schemas/Member.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                required:
                                    - 'hydra:member'
                                type: object
                                properties:
                                    'hydra:member':
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Member.Read.Jsonld'
                                    'hydra:totalItems':
                                        minimum: 0
                                        type: integer
                                    'hydra:view':
                                        type: object
                                        properties:
                                            '@id':
                                                format: iri-reference
                                                type: string
                                            '@type':
                                                type: string
                                            'hydra:first':
                                                format: iri-reference
                                                type: string
                                            'hydra:last':
                                                format: iri-reference
                                                type: string
                                            'hydra:next':
                                                format: iri-reference
                                                type: string
                                    'hydra:search':
                                        type: object
                                        properties:
                                            '@type':
                                                type: string
                                            'hydra:template':
                                                type: string
                                            'hydra:variableRepresentation':
                                                type: string
                                            'hydra:mapping':
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        '@type':
                                                            type: string
                                                        variable:
                                                            type: string
                                                        property:
                                                            type: string
                                                        required:
                                                            type: boolean
                    description: Membership collection response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: members.list
            summary: ''
        parameters:
            -
                name: group_uuid
                description: Group UUID
                schema:
                    $ref: '#/components/schemas/Group.UUID'
                in: path
                required: true
    '/groups/{group_uuid}/members/{user_uuid}':
        summary: Modify the membership of a user in a group
        get:
            tags:
                - Group
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Member
                                            attributes:
                                                $ref: '#/components/schemas/Member.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Member.Read.Jsonld'
                    description: Membership resource response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: member.get
            summary: Get the group membership information of one user
        put:
            requestBody:
                description: The updated Membership resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Member.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Member
                                        attributes:
                                            $ref: '#/components/schemas/Member.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Member.Write'
                required: true
            tags:
                - Group
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Member.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Member
                                            attributes:
                                                $ref: '#/components/schemas/Member.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Member.Read.Jsonld'
                    description: Membership resource updated
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: member.put
            summary: Modify the rol of one user in a group
        delete:
            tags:
                - Group
            responses:
                '204':
                    $ref: '#/components/responses/Resource.Deleted'
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: member.delete
            summary: Delete the group membership of one user
        parameters:
            -
                name: group_uuid
                description: Group UUID
                schema:
                    $ref: '#/components/schemas/Group.UUID'
                in: path
                required: true
            -
                name: user_uuid
                description: User UUID
                schema:
                    $ref: '#/components/schemas/User.UUID'
                in: path
                required: true
    '/groups/{group_uuid}/polls':
        get:
            tags:
                - Poll
                - Group
            parameters:
                -
                    $ref: '#/components/parameters/pageParam'
                -
                    $ref: '#/components/parameters/sortPollsParam'
                -
                    $ref: '#/components/parameters/filterPollsParam'
                -
                    $ref: '#/components/parameters/includePollsParam'
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Poll.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                type:
                                                    type: string
                                                    example: Poll
                                                id:
                                                    $ref: '#/components/schemas/Poll.UUID'
                                                attributes:
                                                    $ref: '#/components/schemas/Poll.Read'
                                                relationships:
                                                    type: object
                                                    properties:
                                                        tracks:
                                                            type: array
                                                            items:
                                                                type: object
                                                                properties:
                                                                    type:
                                                                        type: string
                                                                        example: Track
                                                                    id:
                                                                        type: string
                                                                        example: a9269c43-94dc-4b6a-9e97-f8871d2b630b
                                    included:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Track.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                required:
                                    - 'hydra:member'
                                type: object
                                properties:
                                    'hydra:member':
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Poll.Read.Jsonld'
                                    'hydra:totalItems':
                                        minimum: 0
                                        type: integer
                                    'hydra:view':
                                        type: object
                                        properties:
                                            '@id':
                                                format: iri-reference
                                                type: string
                                            '@type':
                                                type: string
                                            'hydra:first':
                                                format: iri-reference
                                                type: string
                                            'hydra:last':
                                                format: iri-reference
                                                type: string
                                            'hydra:next':
                                                format: iri-reference
                                                type: string
                                    'hydra:search':
                                        type: object
                                        properties:
                                            '@type':
                                                type: string
                                            'hydra:template':
                                                type: string
                                            'hydra:variableRepresentation':
                                                type: string
                                            'hydra:mapping':
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        '@type':
                                                            type: string
                                                        variable:
                                                            type: string
                                                        property:
                                                            type: string
                                                        required:
                                                            type: boolean
                    links:
                        GetPoll:
                            operationId: poll.get
                            parameters:
                                poll_uuid: '$response.body#/poll_uuid'
                            description: >-
                                The `id` value returned in the response can be used as the `poll_uuid`
                                parameter in `GET /polls/{poll_uuid}`.                                        
                    description: Poll collection response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: group.polls.list
            summary: 'Retrieves the public polls of one group, or all polls if the user is member of the group'
        post:
            requestBody:
                description: The new Poll resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Poll.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Poll
                                        attributes:
                                            $ref: '#/components/schemas/Poll.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Poll.Write'
                required: true
            tags:
                - Poll
            responses:
                '201':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Poll.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Poll
                                            id:
                                                $ref: '#/components/schemas/Poll.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Poll.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Poll.Read'
                    links:
                        GetPoll:
                            operationId: poll.get
                            parameters:
                                poll_uuid: '$response.body#/poll_uuid'
                            description: >-
                                The `id` value returned in the response can be used as the `poll_uuid`
                                parameter in `GET /polls/{poll_uuid}`.
                    description: Poll resource created
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: poll.create
            summary: Create one new poll inside a group
            description: >-
                If the fields: spotify_playlist_uri, spotify_playlist_winner_uri or
                spotify_playlist_historic_uri are empty, an async task is called for create one playlist in
                Spotify for each empty value.
        parameters:
            -
                name: group_uuid
                description: Group UUID
                schema:
                    $ref: '#/components/schemas/Group.UUID'
                in: path
                required: true
    /polls:
        summary: >-
            Get all public polls, and if the current session has a user attached, the polls where the user has
            accesss
        get:
            tags:
                - Poll
            parameters:
                -
                    $ref: '#/components/parameters/pageParam'
                -
                    $ref: '#/components/parameters/sortPollsParam'
                -
                    $ref: '#/components/parameters/filterPollsParam'
                -
                    $ref: '#/components/parameters/includePollsParam'
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Poll.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                type:
                                                    type: string
                                                    example: Poll
                                                id:
                                                    $ref: '#/components/schemas/Poll.UUID'
                                                attributes:
                                                    $ref: '#/components/schemas/Poll.Read'
                                                relationships:
                                                    type: object
                                                    properties:
                                                        tracks:
                                                            type: array
                                                            items:
                                                                type: object
                                                                properties:
                                                                    type:
                                                                        type: string
                                                                        example: Track
                                                                    id:
                                                                        type: string
                                                                        example: a9269c43-94dc-4b6a-9e97-f8871d2b630b
                                    included:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Track.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                required:
                                    - 'hydra:member'
                                type: object
                                properties:
                                    'hydra:member':
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Poll.Read.Jsonld'
                                    'hydra:totalItems':
                                        minimum: 0
                                        type: integer
                                    'hydra:view':
                                        type: object
                                        properties:
                                            '@id':
                                                format: iri-reference
                                                type: string
                                            '@type':
                                                type: string
                                            'hydra:first':
                                                format: iri-reference
                                                type: string
                                            'hydra:last':
                                                format: iri-reference
                                                type: string
                                            'hydra:next':
                                                format: iri-reference
                                                type: string
                                    'hydra:search':
                                        type: object
                                        properties:
                                            '@type':
                                                type: string
                                            'hydra:template':
                                                type: string
                                            'hydra:variableRepresentation':
                                                type: string
                                            'hydra:mapping':
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        '@type':
                                                            type: string
                                                        variable:
                                                            type: string
                                                        property:
                                                            type: string
                                                        required:
                                                            type: boolean
                    links:
                        GetPoll:
                            operationId: poll.get
                            parameters:
                                poll_uuid: '$response.body#/poll_uuid'
                            description: >-
                                The `id` value returned in the response can be used as the `poll_uuid`
                                parameter in `GET /polls/{poll_uuid}`. 
                    description: Poll collection response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: polls.list
            summary: >-
                Get all public polls, and if the current session has a user attached, the polls where the user
                has accesss
    '/polls/{poll_uuid}':
        get:
            tags:
                - Poll
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Poll.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Poll
                                            id:
                                                $ref: '#/components/schemas/Poll.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Poll.Read'
                                            relationships:
                                                type: object
                                                properties:
                                                    tracks:
                                                        type: array
                                                        items:
                                                            type: object
                                                            properties:
                                                                type:
                                                                    type: string
                                                                    example: Track
                                                                id:
                                                                    type: string
                                                                    example: a9269c43-94dc-4b6a-9e97-f8871d2b630b
                                    included:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Track.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Poll.Read.Jsonld'
                    description: Poll resource response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: poll.get
            summary: Get information about one Poll
        put:
            requestBody:
                description: The updated Poll resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Poll.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Poll
                                        id:
                                            $ref: '#/components/schemas/Poll.UUID'
                                        attributes:
                                            $ref: '#/components/schemas/Poll.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Poll.Write'
                required: true
            tags:
                - Poll
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Poll.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Poll
                                            id:
                                                $ref: '#/components/schemas/Poll.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Poll.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Poll.Read.Jsonld'
                    description: Poll resource updated
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: poll.put
            summary: Modify the configuration of one Poll
            description: >-
                If the fields: name, description, spotify_playlist_public or spotify_playlist_collaborative
                are modified, an async task is called for sync those options in Spotify with the playlist
                stored in the field spotify_playlist_uri
        delete:
            tags:
                - Poll
            responses:
                '204':
                    $ref: '#/components/responses/Resource.Deleted'
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: poll.delete
            summary: Delete one Poll
        parameters:
            -
                name: poll_uuid
                description: Poll UUID
                schema:
                    $ref: '#/components/schemas/Poll.UUID'
                in: path
                required: true
    '/polls/{poll_uuid}/tracks':
        post:
            requestBody:
                description: The new Track resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Track.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Track
                                        attributes:
                                            $ref: '#/components/schemas/Track.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Track.Write'
                required: true
            tags:
                - Poll
            responses:
                '201':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Track.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Track
                                            id:
                                                $ref: '#/components/schemas/Track.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Track.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Track.Read.Jsonld'
                    links:
                        ModifyTrack:
                            operationId: track.put
                            parameters:
                                track_uuid: '$response.body#/track_uuid'
                            description: >-
                                The `id` value returned in the response can be used as the `track_uuid`
                                parameter in `POST /polls/{poll_uuid}/tracks/{track_uuid}`. 
                        DeleteTrack:
                            operationId: track.delete
                            parameters:
                                track_uuid: '$response.body#/track_uuid'
                            description: >-
                                The `id` value returned in the response can be used as the `track_uuid`
                                parameter in `DELETE /polls/{poll_uuid}/tracks/{track_uuid}`.
                    description: Track resource created
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: track.create
            summary: Add one new Track into one Poll
            description: >-
                An async task is called for add this track in the Spotify playlist stored in the field
                spotify_playlist_uri
        parameters:
            -
                name: poll_uuid
                description: Poll UUID
                schema:
                    $ref: '#/components/schemas/Poll.UUID'
                in: path
                required: true
    '/polls/{poll_uuid}/tracks/{track_uuid}':
        put:
            requestBody:
                description: The updated Track resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Track.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Track
                                        id:
                                            $ref: '#/components/schemas/Track.UUID'
                                        attributes:
                                            $ref: '#/components/schemas/Track.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Track.Write'
                required: true
            tags:
                - Poll
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Track.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Track
                                            id:
                                                $ref: '#/components/schemas/Track.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Track.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Track.Read.Jsonld'
                    description: Poll resource updated
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: track.put
            summary: Modify the information about one Track
            description: >-
                If the field spotify_uri is modified, an async task is called for change the song also in
                Spotify using the playlist stored in the field spotify_playlist_uri
        delete:
            tags:
                - Poll
            responses:
                '204':
                    $ref: '#/components/responses/Resource.Deleted'
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: track.delete
            summary: Delete one Track from a Poll
            description: >-
                When one track is removed, an async task is called for remove the song also in Spotify using
                the playlist stored in the field spotify_playlist_uri
        parameters:
            -
                name: poll_uuid
                description: Poll UUID
                schema:
                    $ref: '#/components/schemas/Poll.UUID'
                in: path
                required: true
            -
                name: track_uuid
                description: Track UUID
                schema:
                    $ref: '#/components/schemas/Track.UUID'
                in: path
                required: true
    '/polls/{poll_uuid}/tracks/{track_uuid}/rate':
        put:
            requestBody:
                description: The Rate resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Rate.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Rate
                                        attributes:
                                            $ref: '#/components/schemas/Rate.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Rate.Write'
                required: true
            tags:
                - Poll
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Rate.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Rate
                                            attributes:
                                                $ref: '#/components/schemas/Rate.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Rate.Read.Jsonld'
                    description: Rate resource updated
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: rate.put
            summary: Rate one Track
        delete:
            tags:
                - Poll
            responses:
                '204':
                    description: Rate resource deleted
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: rate.delete
            summary: Delete the rate of one Track
        parameters:
            -
                name: poll_uuid
                description: Poll UUID
                schema:
                    $ref: '#/components/schemas/Poll.UUID'
                in: path
                required: true
            -
                name: track_uuid
                description: Track UUID
                schema:
                    $ref: '#/components/schemas/Track.UUID'
                in: path
                required: true
    /register:
        summary: >-
            Create one new user in the platform. A GET request must be done for a valid CSRF token before the
            POST request.
        get:
            tags:
                - User
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CSRF'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: CSRF
                                            id:
                                                $ref: '#/components/schemas/CSRF'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                required:
                                    - csrf
                                type: object
                                properties:
                                    '@context':
                                        type: string
                                        readOnly: true
                                    '@id':
                                        type: string
                                        readOnly: true
                                    '@type':
                                        type: string
                                        readOnly: true
                                    csrf:
                                        $ref: '#/components/schemas/CSRF'
                    description: CSRF Token
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            operationId: user.create.csrf
            summary: Get one valid CSRF token
            description: >-
                This is the first mandatory call, in order to do a valid call to POST /register with a CSRF
                token
        post:
            requestBody:
                description: The new User resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/User.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: User.Write
                                        attributes:
                                            $ref: '#/components/schemas/User.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/User.Write'
                required: true
            tags:
                - User
            responses:
                '201':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: User.Read
                                            attributes:
                                                $ref: '#/components/schemas/User.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/User.Read.Jsonld'
                    links:
                        GetUser:
                            operationId: user.get
                            parameters:
                                id: '$response.body#/id'
                            description: >-
                                The `id` value returned in the response can be used as the `id` parameter in
                                `GET /users/{user_uuid}`.
                    description: User created
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    csrf: []
            operationId: user.create
            summary: Create one new user in the platform
    /login:
        summary: >-
            This must be the first call to the API in order to obtain a valid JWT token for call all the other
            endpoints
        get:
            tags:
                - User
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/CSRF'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: CSRF
                                            id:
                                                $ref: '#/components/schemas/CSRF'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                required:
                                    - csrf
                                type: object
                                properties:
                                    '@context':
                                        type: string
                                        readOnly: true
                                    '@id':
                                        type: string
                                        readOnly: true
                                    '@type':
                                        type: string
                                        readOnly: true
                                    csrf:
                                        $ref: '#/components/schemas/CSRF'
                    description: CSRF Token
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            operationId: session.create.csrf
            summary: Get one valid CSRF token
            description: 'This is the first mandatory call, in order to do a valid call to POST /login with a CSRF token'
        post:
            requestBody:
                description: 'Optional, if provided must be an object with username & password keys.'
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Login.Request'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Login.Request
                                        attributes:
                                            $ref: '#/components/schemas/Login.Request'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Login.Request'
            tags:
                - User
            responses:
                '201':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Login.Response'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Login.Response
                                            attributes:
                                                $ref: '#/components/schemas/Login.Response'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Login.Response.Jsonld'
                    links:
                        GetSessionItem:
                            operationId: session.get
                            parameters:
                                id: '$response.body#/session_uuid'
                            description: >-
                                The `session_uuid` value returned in the response can be used as the
                                `session_uuid` parameter in `GET /sessions/{session_uuid}`.
                    description: Session resource created
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    csrf: []
            operationId: session.create
            summary: >-
                If username & password is provided, try to authenticate an user to the api. Otherwise a anon
                session will be created.
    '/sessions/{session_uuid}':
        get:
            tags:
                - User
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Session.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Session
                                            id:
                                                $ref: '#/components/schemas/Session.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Session.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Session.Read.Jsonld'
                    description: Session resource response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: session.get
            summary: Retrieves a Session resource.
        put:
            requestBody:
                description: The updated Session resource
                content:
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Session.Modify'
                    application/json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Session.Modify
                                        attributes:
                                            $ref: '#/components/schemas/Session.Modify'
                    application/vnd.api+json:
                        schema:
                            $ref: '#/components/schemas/Session.Modify'
            tags:
                - User
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Session.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Session
                                            id:
                                                $ref: '#/components/schemas/Session.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Session.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Session.Read.Jsonld'
                    description: Session resource updated
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: session.put
            summary: Replaces the name of the Session.
        parameters:
            -
                name: session_uuid
                description: Session UUID
                schema:
                    $ref: '#/components/schemas/Session.UUID'
                in: path
                required: true
    '/users/{user_uuid}':
        get:
            tags:
                - User
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: User
                                            id:
                                                $ref: '#/components/schemas/User.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/User.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/User.Read.Jsonld'
                    description: User resource response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: user.get
            summary: Retrieves a User
        put:
            requestBody:
                description: Only the updated information of the User.
                content:
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/User.Modify'
                    application/json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: User.Modify
                                        attributes:
                                            $ref: '#/components/schemas/User.Modify'
                    application/vnd.api+json:
                        schema:
                            $ref: '#/components/schemas/User.Modify'
                required: true
            tags:
                - User
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/User.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: User
                                            id:
                                                $ref: '#/components/schemas/User.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/User.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/User.Read.Jsonld'
                    description: User resource updated
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: user.put
            summary: Update the user information
        parameters:
            -
                name: user_uuid
                description: User UUID
                schema:
                    $ref: '#/components/schemas/User.UUID'
                in: path
                required: true
    /groups:
        summary: Operations with a Groups of Users
        get:
            tags:
                - Group
            parameters:
                -
                    $ref: '#/components/parameters/pageParam'
                -
                    $ref: '#/components/parameters/sortGroupsParam'
                -
                    $ref: '#/components/parameters/filterGroupsParam'
                -
                    $ref: '#/components/parameters/includeGroupsParam'
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Group.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                type:
                                                    type: string
                                                    example: Group
                                                id:
                                                    $ref: '#/components/schemas/Group.UUID'
                                                attributes:
                                                    $ref: '#/components/schemas/Group.Read'
                                                relationships:
                                                    type: object
                                                    properties:
                                                        polls:
                                                            type: array
                                                            items:
                                                                type: object
                                                                properties:
                                                                    type:
                                                                        type: string
                                                                        example: polls
                                                                    id:
                                                                        type: string
                                                                        example: 15de7d9a-4b1f-4260-b0fd-91c2c9b76bd5
                                                        members:
                                                            type: array
                                                            items:
                                                                type: object
                                                                properties:
                                                                    type:
                                                                        type: string
                                                                        example: members
                                                                    id:
                                                                        type: string
                                                                        example: b85dc364-a646-4230-9f52-adfd45561b20
                                    included:
                                        type: array
                                        items:
                                            anyOf:
                                                -
                                                    $ref: '#/components/schemas/Poll.Read'
                                                -
                                                    $ref: '#/components/schemas/Member.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                required:
                                    - 'hydra:member'
                                type: object
                                properties:
                                    'hydra:member':
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Group.Read.Jsonld'
                                    'hydra:totalItems':
                                        minimum: 0
                                        type: integer
                                    'hydra:view':
                                        type: object
                                        properties:
                                            '@id':
                                                format: iri-reference
                                                type: string
                                            '@type':
                                                type: string
                                            'hydra:first':
                                                format: iri-reference
                                                type: string
                                            'hydra:last':
                                                format: iri-reference
                                                type: string
                                            'hydra:next':
                                                format: iri-reference
                                                type: string
                                    'hydra:search':
                                        type: object
                                        properties:
                                            '@type':
                                                type: string
                                            'hydra:template':
                                                type: string
                                            'hydra:variableRepresentation':
                                                type: string
                                            'hydra:mapping':
                                                type: array
                                                items:
                                                    type: object
                                                    properties:
                                                        '@type':
                                                            type: string
                                                        variable:
                                                            type: string
                                                        property:
                                                            type: string
                                                        required:
                                                            type: boolean
                    description: Group collection response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: groups.list
            summary: >-
                Return all public groups, and if the current session has an user attached, the groups of the
                current user.
        post:
            requestBody:
                description: The new Group resource
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Group.Write'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Group
                                        attributes:
                                            $ref: '#/components/schemas/Group.Write'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Group.Write'
                required: true
            tags:
                - Group
            responses:
                '201':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Group.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: object
                                        properties:
                                            type:
                                                type: string
                                                example: Group
                                            id:
                                                $ref: '#/components/schemas/Group.UUID'
                                            attributes:
                                                $ref: '#/components/schemas/Group.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Group.Read.Jsonld'
                    links:
                        GetGroupItem:
                            operationId: group.get
                            parameters:
                                id: '$response.body#/id'
                            description: >-
                                The `id` value returned in the response can be used as the `group_uuid`
                                parameter in `GET /groups/{group_uuid}`.
                    description: Group resource created
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            operationId: group.create
            summary: Create new Group
    /spotify:
        summary: Search information in Spotify
        description: >-
            Get Spotify Catalog information about albums, artists, playlists, tracks, shows or episodes that
            match a keyword string.
        post:
            requestBody:
                description: Object with the information to be used as a search
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Spotify.Search'
                    application/vnd.api+json:
                        schema:
                            required:
                                - data
                            properties:
                                data:
                                    type: object
                                    properties:
                                        type:
                                            type: string
                                            example: Spotify.Search
                                        attributes:
                                            $ref: '#/components/schemas/Spotify.Search'
                    application/ld+json:
                        schema:
                            $ref: '#/components/schemas/Spotify.Search'
                required: true
            tags:
                - Polls
            responses:
                '200':
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Spotify.Read'
                        application/vnd.api+json:
                            schema:
                                required:
                                    - jsonapi
                                    - data
                                    - meta
                                type: object
                                properties:
                                    jsonapi:
                                        $ref: '#/components/schemas/Jsonapi.Version'
                                    data:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                type:
                                                    type: string
                                                    example: Track
                                                id:
                                                    $ref: '#/components/schemas/Spotify.URI'
                                                attributes:
                                                    $ref: '#/components/schemas/Spotify.Read'
                                    meta:
                                        $ref: '#/components/schemas/Jsonapi.Meta'
                        application/ld+json:
                            schema:
                                $ref: '#/components/schemas/Spotify.Read.Jsonld'
                    description: Session resource response
                '400':
                    $ref: '#/components/responses/Bad.Request'
                '401':
                    $ref: '#/components/responses/Unauthorized'
                '500':
                    $ref: '#/components/responses/Internal.Server.Error'
            security:
                -
                    bearerAuth: []
            operationId: spotify.search
            summary: Search information in Spotify
            description: >-
                Get Spotify Catalog information about albums, artists, playlists, tracks, shows or episodes
                that match a keyword string.
components:
    schemas:
        CSRF:
[...]
