###> phalcon ###
/app/cache/
/config/development/

###> composer ###
/vendor/

###> jwt ###
/config/secrets/prod/prod.decrypt.private.php
/config/jwt/*.pem

###> tests ###
/tests/_output/

###> phinx (migrations)
/phinx.php
