###> phalcon ###
/app/cache/
/config/development/

###> composer ###
/vendor/

###> jwt ###
/config/secrets/prod/prod.decrypt.private.php
/config/jwt.pem

###> tests ###
/tests/_output/

###> phinx (migrations) - Can be safely included, all secrets are keep in env files
#/phinx.php

###> environment files
.env.local

###> code coverage
c3.php
