###> phalcon ###
/app/cache/
/config/development/

###> composer ###
/vendor/

###> jwt ###
/config/secrets/prod/prod.decrypt.private.php
/config/jwt/*.pem

###> phalcon/json-api
.env
phinx.php
tests/_output/
vendor/
